body{
  background: url('../img/wall.jpeg') no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; /* Fallback */
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

section{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.box{
  position: relative;
}

.box img{
  width: 900px;
  height: 500px;
  object-fit: cover;
  border-radius: 1em;
  box-shadow: var(--shadow1-);
  cursor: pointer;
}

#tooltip{
  position: fixed;
  display: block;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  color: #000;
  font-size: 2.5em;
  font-weight: 700;
  padding: 5px 20px;
  box-shadow: var(--shadow1-);
}

.box:hover #tooltip{
  opacity: 1;
  visibility: visible;
  border-radius: 0.2em;
  color: var(--gr-);
  background: var(--sg-);
}














/* END */
